<div class="container">
  <div class="row">
    <span class="bg-light font-weight-bold px-3">マイページ</span>
  </div>
  <h4 class="font-weight-bold">登録情報</h4>
  <%= link_to "編集する", edit_customer_path(current_user), class: "btn btn-success" %>
  
  <table>
    <tbody>
      <tr>
        <th class="table-active">氏名</th>
        <td><%= current_user.last_name current_user.first_name %></td>
      </tr>
      <tr>
        <th class="table-active">カナ</th>
        <td></td>
      </tr>
      <tr>
        <th class="table-active">郵便番号</th>
        <td><%= current_user.postal_code %></td>
      </tr>
      <tr>
        <th class="table-active">住所</th>
        <td><%= current_user.address %></td>
      </tr>
      <tr>
        <th class="table-active">電話番号</th>
        <td><%= current_user.telephone_number %></td>
      </tr>
      <tr>
        <th class="table-active">メールアドレス</th>
        <td><%= current_user.email %></td>
      </tr>
    </tbody>
  </table>
  <h4>配送先</h4>
  <%= link_to "一覧を見る", 
  <h4>注文履歴</h4>
  <%= link_to "一覧を見る",
</div>