<div class="container">
  <div class="row mt-3">
    <h5><span class="bg-light font-weight-bold px-3">マイページ</span></h5>
  </div>
  <h4 class="font-weight-bold">登録情報</h4>
  <%= link_to "編集する", edit_customers_path(current_customer), class: "btn btn-success" %>

  <table>
    <tbody>
      <tr>
        <th class="table-active">氏名</th>
        <td><%= @customer.full_name %></td>
      </tr>
      <tr>
        <th class="table-active">カナ</th>
        <td><%= @customer.full_name_kana %></td>
      </tr>
      <tr>
        <th class="table-active">郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th class="table-active">住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th class="table-active">電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th class="table-active">メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>
  <h4>配送先</h4>
  <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
  <h4>注文履歴</h4>
  <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
</div>