<div class="container">
  <div class="row">
    <h5 class="mt-2"><span class="bg-light font-weight-bold px-3">商品編集</span></h5>
  </div>
  <div class="row justify-content-center">
    <%= form_with model: @item, url: admin_item_path(@item.id) do |f| %>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" style="width: 40%"></th>
            <th scope="col" style="width: 60%"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>商品画像</th>
            <th><%= f.attachment_field :image %></th>
          </tr>
          <tr>
            <th>商品名</th>
            <th><%= f.text_field :name, class: 'form-control' %></th>
          </tr>
          <tr>
            <th>商品説明</th>
            <th><%= f.text_area :introduction, class: 'form-control' %></th>
          </tr>
          <tr>
            <th>ジャンル</th>
            <th><%= f.collection_select :genre_id, Genre.all, :id, :name %></th>
          </tr>
          <tr>
            <th>税抜価格</th>
            <th class="form-inline"><%= f.text_field :price, class: 'form-control' %>円</th>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <th><%= f.submit "変更を保存", class: "btn btn-success px-3" %></th>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>