<div class="container">
　<strong class="bg-light px-3">商品新規登録</strong>
　<div class="row justify-content-center">
    <%= form_with model: @item do |f| %>
      <div class="form-group">
        <div class="form-inline">
          <label for="item_image">商品画像</label>
          <%= f.attachment_field :image %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          <label for="item_name">商品名</label>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          <label for="item_introduction">商品説明</label>
          <%= f.text_area :introduction, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          <label for="item_genre">ジャンル</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          <label for="item_price">税抜価格</label>
          <%= f.text_field :price, class: 'form-control' %>円
        </div>
      </div>
      <div class="form-group">
        <labal for="item_status">販売ステータス</labal>
      </div>
      <div class="form-group">
        <%= f.submit "Create Item", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>