<div class="container">
  <div class="row mt-4">
    <%= render 'genre_list', genres: @genres %>
    <div class="col-md-8 text-center">
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧ができますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
  </div>
  <h2 class="font-weight-bold text-center">新着商品</h2>
  <div class="row">
      <% @item.each do |item| %>
        <div class="card-group">
          <%= link_to item_path(item.id), class: "text-dark" do %>
            <div class="card">
              <%= attachment_image_tag item, :image, :fill, 180, 120, format: "jpeg" %>
              <div class="card-body">
                <p class="card-text font-weight-bold"><%= item.name %></div>
                <p class="card-text font-weight-bold">￥<%= item.add_tax_price.to_s(:delimited) %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
  <div class="text-right mr-5">
    <%= link_to "全ての商品を見る>", items_path %>
  </div>
</div>
