<div class="container">
  <div class="row mt-3">
    <h5>
      <span class="bg-light font-weight-bold px-3"><%= @customer.full_name %>さんの会員情報編集</span>
    </h5>
  </div>
  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col" style="width: 20%"></th>
          <th scope="col" style="width: 80%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>会員ID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td class="form-inline">
            <%= f.text_field :last_name, class: "form-control mr-3" %> <%= f.text_field :first_name, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td class="form-inline">
            <%= f.text_field :last_name_kana, class: "form-control mr-3" %> <%= f.text_field :first_name_kana, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td class="form-inline">
            <%= f.text_field :postal_code, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= f.text_field :address, class: "form-control" %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td class="form-inline">
            <%= f.text_field :telephone_number, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td class="form-inline">
            <%= f.text_field :email, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td>
            <%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "有効", value: false %>
            <%= f.radio_button :is_deleted, true, class: "ml-3" %><%= f.label :is_deleted, "退会", value: true %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "変更を保存", class: "btn btn-success px-3" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>