<div class="container">
  <div class="row my-3">
    <h5><span class="bg-light font-weight-bold px-3">会員一覧</span></h5>
  </div>
  <div class="row">
    <table class="table table-hover table-inverse">
      <thead>
        <tr class="table-active">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customer_path(customer.id), class: "text-dark" %></td>
            <td><%= customer.email %></td>
            <% if customer.is_deleted_tf == "有効" %>
              <td class="font-weight-bold text-success"><%= customer.is_deleted_tf %></td>
            <% else %>
              <td class="font-weight-bold text-dark"><%= customer.is_deleted_tf %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @customers %>
  </div>
</div>