<div class="container">
  <div class="row mt-3">
    <h5><span class="bg-light font-weight-bold px-3">会員情報編集</span></h5>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <table class="table table-borderless">
      <tbody>
        <tr>
          <th><%= f.label :full_name, "氏名" %></th>
          <th>
            <%= f.text_field :last_name %>
            <%= f.text_field :first_name %>
          </th>
        </tr>
        <tr>
          <th><%= f.label :full_name_kana, "フリガナ" %></th>
          <th>
            <%= f.text_field :last_name_kana %>
            <%= f.text_field :first_name_kana %>
          </th>
        </tr>
        <tr>
          <th><%= f.label :postal_code, "郵便番号" %></th>
          <th><%= f.text_field :postal_code %></th>
        </tr>
        <tr>
          <th><%= f.label :address, "住所" %></th>
          <th><%= f.text_area :address %></th>
        </tr>
        <tr>
          <th><%= f.label :telephone_number, "電話番号" %></th>
          <th><%= f.text_field :telephone_number %></th>
        </tr>
        <tr>
          <th><%= f.label :email, "メールアドレス" %></th>
          <th><%= f.email_field :email %></th>
        </tr>
        <tr>
          <th></th>
          <th><%= link_to "編集内容を保存", my_page_path(current_customer), class: "btn btn-success px-5" %></th>
          <th><%= link_to "退会する", class: "btn btn-danger px-3" %></th>
        </tr>
      </tbody>
    </table>
  <% end %>
