<div class="container">
  <div class="row py-3">
    <span class="bg-light font-weight-bold px-3">新規会員登録</span>
  </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="row">
        <div class="col"><%= f.label "名前" %></div>
        <div class="col-auto"><%= f.label :last_name, "(姓)" %></div>
        <div class="col-auto"><%= f.text_field :last_name, placeholder: "令和" %></div>
        <div class="col-auto"><%= f.label :first_name, "(名)" %></div>
        <div class="col"><%= f.text_field :first_name, placeholder: "道子" %></div>
      </div>

      <div class="row">
        <div class="col"><%= f.label "フリガナ" %></div>
        <div class="col-auto"><%= f.label :last_name_kana, "(セイ)" %></div>
        <div class="col-auto"><%= f.text_field :last_name_kana, placeholder: "レイワ" %></div>
        <div class="col-auto"><%= f.label :first_name_kana, "(メイ)" %></div>
        <div class="col"><%= f.text_field :first_name_kana, placeholder: "ミチコ" %></div>
      </div>

      <div class="row">
        <div class="col-lg-5"><%= f.label :email, "メールアドレス" %></div>
        <div class="col-lg-7"><%= f.email_field :email, autocomplete: "email", placeholder: "naganocake@email.com" %></div>
      </div>

      <div class="row">
        <div class="col-lg-5"><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
        <div class="col-lg-7"><%= f.text_field :postal_code, placeholder: "0000000" %></div>
      </div>

      <div class="row">
        <div class="col-lg-5"><%= f.label :address, "住所" %></div>
        <div class="col^lg-7"><%= f.text_area :address, placeholder: "東京都渋谷区代々木0-0" %></div>
      </div>

      <div class="row">
        <div class="col-lg-5"><%= f.label :telephone_number, "電話番号(ハイフンなし)" %></div>
        <div class="col-lg-7"><%= f.text_field :telephone_number, placeholder: "00000000000" %></div>
      </div>

      <div class="row">
        <div class="col-lg-5">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </div>
        <div class="col-lg-7"><%= f.password_field :password, autocomplete: "new-password" %></div>
      </div>

      <div class="row">
        <div class="col-lg-5"><%= f.label :password_confirmation, "パスワード(確認用)" %></div>
        <div class="col-lg-7"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    <% end %>

  <div class="row mt-3">
    <span class="bg-light font-weight-bold px-3">既に登録済みの方</span>
  </div>
  <div class="row mt-2 ml-5">
    <p>
      <a href="/customers/sign_in">こちら</a>　からログインしてください。
    </p>
  </div>
</div>

<%= render "public/shared/links" %>