<div class="container">
  <div class="row mt-3">
    <h5>
      <span class="bg-light font-weight-bold px-3">注文情報入力</span>
    </h5>
  </div>
  <%= form_with model: @order, url: orders_path, method: :post do |f| %>
    <h6 class="font-weight-bold">支払方法</h6>
    <%= f.radio_button :payment_method, "credit_card", class: "ml-3" %>
    <%= f.label :payment_method, "クレジットカード" %><br>
    <%= f.radio_button :payment_method, "transfer", class: "ml-3" %>
    <%= f.label :payment_method, "銀行振込" %><br>
    <h6 class="font-weight-bold">お届け先</h6>
    <%= f.radio_button
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
  <% end %>
</div>