<div class="container">
  <div class="row mt-3">
    <h5>
      <span class="bg-light font-weight-bold px-3">注文情報入力</span>
    </h5>
  </div>
  <%= form_with model: @order, url: confirm_path, method: :post do |f| %>
    <h6 class="font-weight-bold">支払方法</h6>
    <%= f.radio_button :payment_method, "credit_card", class: "ml-3" %>
    <%= f.label :payment_method, "クレジットカード" %><br>
    <%= f.radio_button :payment_method, "transfer", class: "ml-3" %>
    <%= f.label :payment_method, "銀行振込" %><br>

    <h6 class="font-weight-bold">お届け先</h6>
    <%= f.radio_button :select_address, 0, class: "ml-3" %>
    <%= f.label :select_address, "ご自身の住所" %><br>
    <div class="ml-5">
      <%= current_customer.postal_code %> <%= current_customer.address %><br>
      <%= current_customer.full_name %><br>
    </div>

    <%= f.radio_button :select_address, 1, class: "ml-3" %>
    <%= f.label :select_address, "登録済み住所から選択", class: "mt-3" %><br>
    <div class="ml-5">
      <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %><br>
    </div>

    <%= f.radio_button :select_address, 2, class: "ml-3" %>
    <%= f.label :select_address, "新しいお届け先", class: "mt-3" %><br>
    <table class="table-borderless ml-5">
      <tbody>
        <tr>
          <td><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></td>
          <td><%= f.text_field :postal_code, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :address, "住所" %></td>
          <td><%= f.text_field :address, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :name, "宛名" %></td>
          <td><%= f.text_field :name, class: "form-control" %></td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary mt-3" %>
    </div>
  <% end %>
</div>