<div class="container">
  <div class="row">
    <h5>
      <span class="bg-light font-weight-bold px-3">注文履歴詳細</span>
    </h5>
  </div>
  <div class="row">
    <div class="col-8">
      <h6 class="font-weight-bold">注文情報</h6>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>注文日</th>
            <th><%= @order_detail.created_at %></th>
          </tr>
          <tr>
            <th>配送先</th>
            <th><%= @order_detail.address %></th>
          </tr>
          <tr>
            <th>支払方法</th>
            <th><%= @order_detail.order.payment_method %></th>
          </tr>
          <tr>
            <th>ステータス</th>
            <th><%= @order_detail.making_status %></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-4">
      <h6 class="font-weight-bold">請求情報</h6>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>商品合計</th>
            <th><%= @order_detail %></th>
          </tr>
          <tr>
            <th>配送料</th>
            <th></th>
          </tr>
          <tr>
            <th>ご請求額</th>
            <th><%= @order_detail.peice %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
      </thead>
      <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
      </tbody>
    </table>
  </div>
</div>