<div class="container">
  <div class="row">
    <span class="bg-light font-weight-bold px-3">ログイン</span><br>
  </div>
  <div class="row">
    <span class="bg-light font-weight-bold px-3 mt-3">会員の方はこちらからログイン</span>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-primary px-3" %>
    </div>
  <% end %>

  <div class="row mt-3">
    <span class="bg-light font-weight-bold px-3">会員登録がお済みでない方</span>
  </div>
  <div class="row mt-2 ml-5">
    <p>
      <a href="/customers/sign_up">こちら</a>　から新規登録を行ってください。
    </p>

  </div>
</div>
<%= render "public/shared/links" %>
