<div class="container">
  <div class="row">
    <%= render "public/homes/genre_list", genres: @genres %>
    <h3 class="font-weight-bold m-3">商品一覧</h3>
    <div class="col-10 d-flex flex-wrap">

    <% @items.each do |item| %>
      <div class="card-group">
        <div class="card">
          <%= attachment_image_tag item, :image, :fill, 180, 120, format: "jpeg" %>
          <div class="card-body">
            <p class="card-title font-weight-bold"><%= item.name %></p>
            <p class="card-text font-weight-bold">￥<%= item.add_tax_price.to_s(:delimited) %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <%= paginate @items %>
</div>